* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .root-container {
/* width: 1200px; */


/* regola clearfix per elementi float */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 70%;
  margin: 0 auto;
}


/* proprietà colonne */
.col {
  float: left;
  position: relative;
  border: 1px solid black;
}

.col-100 {
  width: 100%;
}
.col-75 {
  width: 75%;
}
.col-50 {
  width: 50%;
}
.col-25 {
  width: 25%;
}
.col-33 {
  width: calc(100% * 1/3)
}

/* proprietà box elementi */

.box {
  border: 1px solid black;
  float: left;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.f-right {
  float: right;
}

.lh-20 {
  line-height: 20px;
  /* height: 50px; */
}

.w-80 {
  width: 80px;
}

.w-300 {
  width: 300px;
}

.box li {
  display: inline-block;
  /* margin: 5px; */
}

.button-1 {
  background-color: red;
  font-size: 12px;
}

/*  */


/* sfondi macrostruttura */
.header-container-top {
  background-color: azure;
  border-bottom: 2px solid black;
  width: 100%;
}
.header-container-bottom {
  background-color: white;
  width: 100%;
}
.container-freetrial {
  background-color: bisque;
  width: 100;
}
.separator {
  background-color: turquoise;
  border: 2px solid black;
}
.container-features {
  background-color: lightcyan;
}
.container-customercare {
  background-color: aquamarine;
}
.container-freetrial-2 {
  background-color: white;
}
.container-footer {
  background-color: steelblue;
}



/* classi prova per dimensionamento elementi */

.h-50 {
  height: 50px;
}

.h-100 {
  height: 100px;
}

.h-200 {
  height: 200px
}

.h-400 {
  height: 400px;
}

.row:nth-child(1) {

}

.row:nth-child(2) {

}
